.iframe-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Mặc định ẩn cuộn */
}

.iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-container-mobile {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.iframe-container-mobile .iframe-embed {
  position: static;
  min-height: 70vh;
}
