.iframe-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Mặc định ẩn cuộn */
}

.iframe-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .iframe-container {
    overflow: auto;
    height: auto;
    max-height: 80vh;
    -webkit-overflow-scrolling: touch;
  }

  .iframe-embed {
    position: static;
    height: auto;
    min-height: 70vh;
  }
}
